<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="/public/MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>

    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/admin/approval" style="float: right">APPROVAL</a>
    <a href="/admin" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  <td><%= event.eventName %></td>
  <button
    class="whitebutton"
    onclick="location.href='/admin/approval';"
    style="float: right; width: 8em;margin-top:-2em;"
  >
    Back
  </button>
  <hr />
  Today date -
  <script>
    var curday = function (sp) {
      today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //As January is 0.
      var yyyy = today.getFullYear();

      if (dd < 10) dd = "0" + dd;
      if (mm < 10) mm = "0" + mm;
      return dd + sp + mm + sp + yyyy;
    };

    document.write(curday("/"));
  </script>

  
 
  <form onsubmit="return confirm('Do you confirm to disapprove?');"
  class="formBtn" id="myform" action="/admin/todelete/<%= event.id %>" method="POST">
    <button   class="deleteBtn1"
      type="submit"

      href="#"
      style="float: right"
      >DELETE EVENT</button
    >
  </form>
  <form onsubmit="return confirm('Do you confirm to approve event?');"
  class="formBtn" id="myform" action="/admin/toapprove/<%= event.id %>" method="POST">
    <button   class="bluebutton"
      type="submit"
      style="width: 11em; margin-right: 1em; float: right"
      href="#"
     
      >APPROVE EVENT</button
    >
  </form>

 
</div>
<div class="row2">
  <div class="column2">
    <img <% if(event.posterImageType == null) { %>
      src="/public/eventplacement.jpg" <% } else { %> src="<%= event.posterPath %>"
      <% } %> alt="poster" style=" width: 20em; height: 20em; display: block;
      margin-left: auto; margin-right: auto; " />
  </div>
  <div class="column2" style="border-left: 4px solid #707070">
    <div class="pDetails">
      <table>
        <tr>
          <td style="padding: 0.7em">Date</td>
          <td>: <%= event.eventStartDate.getDate() + " / " + (event.eventStartDate.getMonth()+1) + " / " + event.eventStartDate.getFullYear() + " - " + event.eventEndDate.getDate() + " / " + (event.eventEndDate.getMonth()+1) + " / " + event.eventEndDate.getFullYear() %></td>
        </tr>
        <%function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        } %>
        <tr>
          <td style="padding: 0.7em">Time</td>
          <td>: <%= formatAMPM(event.eventStartDate) +  " - " +  
            formatAMPM(event.eventEndDate) %></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Venue</td>
          <td>: <%= event.venue %></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Organizer</td>
          <td>: <%= event.organizedBy %></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Activities</td>
          <td>: <%= event.eventActivities %></td>

          </td>
        </tr>
      </table>
      <p style="padding: 0.7em;margin-right:7em;">
        Description : <%= event.description %>
      </p>
      <h4 style="padding: 2em;margin-right:7em;background-color: rgb(255, 245, 233);border:1px solid #707070;">
        Feedback by teacher : 
        <br><%= event.feedback %>
      </h4>
    </div>
  </div>
</div>
<div class="homevent">
  <h2>Give Feedback to Students :</h2>
  <hr />
  <form class="formBtn" method="POST" action="/admin/updateDescription/<%= event.id %>">
      <label for="feedback" style="text-align: left; padding-top: 1em">Feedback</label>
      <br />
      <textarea rows="5" cols="50" placeholder="Enter fedback..." name="feedback" style="border: 1px solid #bcbcbc; padding: 1em;width:50%"></textarea>
      <br>
      <button class="bluebutton" type="submit" style="width:10em">
        SUBMIT
      </button>
    </form>
  
</div>
<div style="height: 7em"></div>
<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
