
<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <form id="myform" action="/user/logout" method="POST">
          <a
            href="#"
            onclick="document.getElementById('myform').submit()"
            style="float: right"
            >LOG-OUT</a
          >
        </form>
    
        <noscript>
          <input type="submit" value="Submit form!" />
        </noscript>
        <a class="active"  style="float: right">PROFILE</a>
        <a href="/volunteer/tovolunteer" style="float: right">VOLUNTEER</a>
        <a href="/myevent" style="float: right">MyEVENT</a>
        <a href="/participation" style="float: right">PARTICIPATION</a>
        <a href="/home" style="float: right">HOME</a>
      </div>
</div>


<div class="biodata">
    <div class="row">
        <div class="column left">
          <img <% if(user.profilePath == null) { %>
            src="/public/avatar1.png" <% } else { %> src="<%= user.profilePath %>"
            <% } %> alt="poster" style="width: 15em; height:18em; display: block;
            margin-left: auto; margin-right: auto; " />
            <form action="/user/update/image" method="POST" >

              <input type="file" name='picture' class ="filepond">
          <script>
            const inputElement = document.querySelector('input[type="file"]');
          const pond = FilePond.create( inputElement );

 
          
          </script>

            <button class="bluebutton" type="submit"
            style="font-size:medium;margin-top:2em;width:14em;
            display: block; margin-left: auto;margin-right: auto;" " >Update Phtoto </button>

            </form>
        </div>
        <div class="column right" style="border-left: 1px solid rgb(78, 78, 78);height: 510px;">
          <h2 style="margin-left: 1em;"> <%=  user.name %>
            <button class="bluebutton" onclick="location.href='/profile/update';"
            style="font-size:medium;float:right;margin-right:4em;width:13em;" >
              UPDATE PROFILE</button>
          </h2>
          <br><br>
          <table id="users">
            <tr>
              <td>Student ID</td>
              <td style="text-align:right;"><%= user.roleID %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td style="text-align:right;"><%= user.email %></td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td style="text-align:right;">
                <% if(user.phoneNumber == null) { %> 
                <p style="color:#757575">Update your profile </p>
                <%} else {%> 
                <%= user.phoneNumber %>
                <%}%>
              </td>
            </tr>
            <tr>
              <td>Address</td>
              <td style="text-align:right;">
                <% if(user.address == null) { %>
                <p style="color:#757575">Update your profile </p>
                <%} else {%>
                <%= user.address %>
                <%}%>
                </td>
            </tr>
            <tr>
              <td>School</td>
              <td style="text-align:right;">
                <% if(user.school == null) { %>
                <p style="color:#757575">Update your profile </p>
                <%} else {%>
                <%= user.school %>
                <%}%>
              </td>
            </tr>
            <tr>
              <td>Class</td>
              <td style="text-align:right;">
                <% if(user.class == null) { %>
                  <p style="color:#757575">Update your profile </p>
                  <%} else {%>
                  <%= user.class  %>
                  <%}%>
              </td>
            </tr>
            <tr>
          </table>
          
        </div>
      </div>

</div>
<div style="height:10em;">
</div>



<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
</div>