<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>
    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a class="active" style="float: right">VOLUNTEER</a>
    <a href="/myevent" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a href="/home" style="float: right">HOME</a>
  </div>
</div>
<br />
<br />
<div class="volHeader">
  <div class="topnav" style="background-color: white">
    <a class="active" style="width: 30%">EVENT YOU VOLUNTEERED</a>
    <a href="/volunteer/tovolunteer" style="width: 30%">BE A VOLUNTEER!</a>
  </div>
</div>

<div class="homevent" style="margin-top: -1em">
  Event you Volunteered
  <hr />
  Today date -
  <script>
    var curday = function (sp) {
      today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //As January is 0.
      var yyyy = today.getFullYear();

      if (dd < 10) dd = "0" + dd;
      if (mm < 10) mm = "0" + mm;
      return dd + sp + mm + sp + yyyy;
    };

    document.write(curday("/"));
  </script>
</div>
<% for(var i = 0; i < event.length;i++){ %>
<div class="volunteerbox">
  <div class="row3">
    <div class="column3 left3" style="text-align: center">
      <h4><%= event[i].eventName %></h4>
      <img <% if(event[i].posterImageType == null) { %>
      src="/public/futsal1.jpg" <% } else { %> src="<%= event[i].posterPath %>"
      <% } %> alt="poster" style=" width: 25em; height: 18em; display: block;
      margin-left: auto; margin-right: auto; " />
    </div>
    <div
      class="column3 right3"
      style="text-align: left; font-size: large; padding: 2em"
    >
      <div>
        Date : <%= event[i].eventStartDate.getDate() + " / " +
        event[i].eventStartDate.getMonth() + " / " +
        event[i].eventStartDate.getFullYear() %>
        <br />
        Time : <%= event[i].eventStartDate.getHours() + "." +
        event[i].eventStartDate.getMinutes() + " - " +
        event[i].eventEndDate.getHours() + "." +
        event[i].eventEndDate.getMinutes() %> <br />
        Venue : <%= event[i].venue %>
      </div>
      <div>
        <br />
        Task :
        <br />
        <% for(var j = 0; j < event[i].taskVolunteer.length;j++){ %> <%= j+1 %>.
        <%= event[i].taskVolunteer[j] %>
        <br />

        <% } %>
      </div>
      <div>
        <form>
          <button
            class="bluebutton"
            onclick="location.href='';"
            style="
              font-size: medium;
              float: right;
              margin-right: 2em;
              width: 15em;
            "
          >
            DETAILS
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>

<div style="margin: 10em">
  <br />
</div>

<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
