<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="/public/MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>

    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a href="/volunteer/tovolunteer" style="float: right">VOLUNTEER</a>
    <a class="active" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a href="/home" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  <%= event.eventName %>

  <hr />
  <button
    class="whitebutton"
    onclick="location.href='/myevent';"
    style="float: right; width: 8em; margin-right: 1em"
  >
    Back
  </button>

  <button
    class="bluebutton"
    onclick="location.href='/volunteer/addtask/<%=event.id%>';"
    style="width: 11em; margin-left: 1em"
  >
    Add Task
  </button>
</div>

<div class="row2">
  <div class="column2">
    <div>
      <img <% if(event.posterImageType == null) { %> src="/public/eventplacement.jpg"
      <% } else { %> src="<%= event.posterPath %>" <% } %> alt="poster"
      style="width: 35em; height:35em; display: block; margin-left: auto;
      margin-right: auto; " />
    </div>
  </div>
  <div class="column2" style="border-left: 4px solid #707070">
    <div class="pDetails">
      <table>
        <tr>
          <td style="padding: 0.7em">Date</td>
          <td>
            : <%= event.eventStartDate.getDate() + " / " +
            (event.eventStartDate.getMonth()+1) + " / " +
            event.eventStartDate.getFullYear() + " - " +
            event.eventEndDate.getDate() + " / " + (event.eventEndDate.getMonth()+1)
            + " / " + event.eventEndDate.getFullYear() %>
          </td>
          <td></td>
        </tr>
        <%function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        } %>
        <tr>
          <td style="padding: 0.7em">Time</td>
          <td>
            : <%= formatAMPM(event.eventStartDate) +  " - " +  
            formatAMPM(event.eventEndDate) %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Venue</td>
          <td>: <%= event.venue %></td>
          <td></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Volunteer</td>
          <td>: <%= event.volunteerNeeded %></td>
          <td></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Tasks :</td>
          <td></td>
          <td></td>
        </tr>
        <% for(var j = 0; j < event.taskVolunteer.length;j++){ %>
        <tr>
          <td style="padding: 0.7em"><%= j+1%>.</td>
          <td><%=event.taskVolunteer[j]%></td>
          <td>
            <form onsubmit="return confirm('Do you confirm to delete task?');"
            method="POST" action="/volunteer/delete/<%=event.id%>">
              <input
                type="hidden"
                id="delete"
                name="delete"
                value="<%=event.taskVolunteer[j]%>"
              />
              <button class="deleteBtn" type="submit">-</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</div>
<div style="height: 10em"></div>
<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
