<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="/public/MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>

    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a href="/volunteer/tovolunteer" style="float: right">VOLUNTEER</a>
    <a class="active" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a href="/home" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  <%= event.eventName %>
  <form onsubmit="return confirm('Have you completed the event?');"
  class="formBtn" action="/myEvent/signoff/<%= event.id %>" method="POST">
    <button
      class="bluebutton"
      type="submit"
      onclick="location.href='';"
      style="width: 8em; margin-left: 1em"
    >
      SIGN OFF
    </button>
  </form>

  <button
    class="bluebutton"
    onclick="location.href='/myevent/updateMyevent/<%= event.id %>';"
    style="width: 8em; margin-left: 1em"
  >
    UPDATE
  </button>

  <form onsubmit="return confirm('Are you sure you want to cancel event?');"
  class="formBtn" action="/myEvent/cancel/<%= event.id %>" method="POST">
    <button
      class="bluebutton"
      type="submit"
      style="
        width: 13em;
        float: right;
        margin-right: 1em;
        background-color: #e16e6e;
      "
    >
      CANCEL EVENT
    </button>
  </form>
  <button
    class="whitebutton"
    onclick="location.href='/myevent';"
    style="float: right; width: 8em; margin-right: 1em"
  >
    Back
  </button>
  <hr />
  <form class="formBtn" method="POST" action="/myevent/qrcodepage/<%= event.id %>">
    <button
      class="bluebutton"
      onclick="location.href='/myevent/qrcodepage';"
      style="width: 11em; margin-left: 1em"
    >
      Write QR Code
    </button>
  </form>
  <form class="formBtn" method="POST" action="/myevent/attendance/<%= event.id %>">
    <button
      class="bluebutton"
     type="submit"
      style="width: 11em; margin-left: 1em"
    >
      View Attendance
    </button>
  </form>
</div>
<div class="row2">
  <div class="column2">
    <div>
      <img <% if(event.posterImageType == null) { %>
        src="/public/eventplacement.jpg" <% } else { %> src="<%= event.posterPath %>"
        <% } %> alt="poster" style="width: 25em; height:25em; display: block;
        margin-left: auto; margin-right: auto; " />
      <br />
      <form action="/myevent/update/image/<%= event.id %>" method="POST" >

        <input type="file" name='poster' class ="filepond" style="font-size:medium;margin-left:4em;margin-top:2em;width:14em;">

    <script>
      const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create( inputElement );


    
    </script>

      <button class="bluebutton" type="submit"
      style="font-size:medium;margin-left:4em;margin-top:2em;width:14em;" >Update Poster </button>

      </form>
    </div>
  </div>
  <div class="column2" style="border-left: 4px solid #707070">
    <div class="pDetails">
      <table>
        <tr>
          <td style="padding: 0.7em">Date</td>
          <td>: <%= event.eventStartDate.getDate() + " / " + (event.eventStartDate.getMonth()+1) + " / " + event.eventStartDate.getFullYear() + " - " + event.eventEndDate.getDate() + " / " + (event.eventEndDate.getMonth()+1) + " / " + event.eventEndDate.getFullYear() %></td>
        </tr>
        <%function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        } %>
          

        <tr>
          <td style="padding: 0.7em">Time</td>
          <td>: <%= formatAMPM(event.eventStartDate) +  " - " +  
            formatAMPM(event.eventEndDate) %>
  </td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Venue</td>
          <td>: <%= event.venue %></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Organizer</td>
          <td>: <%= event.organizedBy %></td>
        </tr>
        <tr>
          <td style="padding: 0.7em">Activities</td>
          <td>: <%= event.eventActivities %></td>

          </td>
        </tr>
      </table>
      <p style="padding: 0.7em;margin-right:7em;">
        Description : <%= event.description %>
      </p>
      <h4 style="padding: 2em;margin-right:7em;background-color: rgb(255, 245, 233);border:1px solid #707070;">
        Feedback by teacher : 
        <br><%= event.feedback %>
      </h4>
    </div>
  </div>
</div>

<div style="height:10em;">
</div>
<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
