<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="/public/MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>

    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a href="/volunteer/tovolunteer" style="float: right">VOLUNTEER</a>
    <a class="active" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a href="/home" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  <hr />
  View Attendance
  <button
    class="whitebutton"
    onclick="location.href='/myevent/<%= id %> ';"
    style="float: right; width: 8em"
  >
    Back
  </button>
</div>

<div class="certList" style="margin-top: 0">
  <table class="tablecert">
    <tr style="background-color: #f6f2e9">
      <th style="padding: 15px; padding-left: 2em">NO</th>
      <th style="padding: 15px">Name</th>
      <th style="padding: 15px">Student ID</th>
      <th style="padding: 15px">Status</th>
    </tr>
    <% for(var i = 0; i < data.length;i++){ %>
    <tr>
      <td style="padding: 15px; padding-left: 2em; background-color: #dbd3bf">
        <%= i+1 %>
      </td>
      <td style="padding: 15px; background-color: #dbd3bf">
        <%= data[i].name %>
      </td>
      <td style="padding: 15px; background-color: #dbd3bf">
        <%= data[i].roleID %>
      </td>

      <% if(event[i]) { %>
      <td style="padding: 15px; background-color: #dbd3bf"><%=event[i]%></td>
      <% } else{%>
      <td style="padding: 15px; background-color: #dbd3bf"><%=event[i]%></td>
      <% }%>

    </tr>
    <% }%>
    <tr>
      <td style="padding: 12px; height: 6em"></td>
      <td style="padding: 12px"></td>
      <td style="padding: 12px"></td>
    </tr>
  </table>
</div>
<div style="height: 7em"></div>
<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
